DEBUG=True

SECRET_KEY=

ALLOWED_HOSTS=*

CELERY_BROKER_URL=redis://127.0.0.1:6379/0

CSRF_TRUSTED_ORIGINS=http://*

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

TZ=Asia/Seoul
MARIADB_DATABASE=django
MARIADB_DATABASE_USER=root
MARIADB_ROOT_PASSWORD=
MARIADB_DATABASE_HOST=localhost
MARIADB_DATABASE_PORT=3306